<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thtmeleaf.org"
      xmlns:security="http://www.springframework.org/schema/security">
<security:csrf disabled="true"/>
<head>
    <title>Oops!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<div class="errorPage">
    <span class="oops">Oops!</span><br/>
    <img th:src="@{/MissingPage.png}"/>
    <p>There seems to be a problem with the page you requested
        (<span th:text="${path}"></span>).</p>
    <p th:text="${'Details: ' + message}"></p>
</div>
</html>